---
import Nav from "../components/Nav.astro";
---

<div class="flex flex-col">
  <div>
    <Nav />
  </div>

  <div class="w-full h-full p-8 relative md:flex md:flex-row overflow-hidden">
    <!-- Left div with text -->
    <div class="w-full md:w-1/2 p-6">
      <p class="text-[3rem] font-bold mt-6">
        <span
          class="bg-gradient-to-r from-[#137BBE] via-[#1899E9] to-[#0D5B91] inline-block text-transparent bg-clip-text"
          >Seamless Control</span
        > for <br /> Dynamic Presentations
      </p>
      <p class="text-gray-600 mt-8 text-xl">
        SlideSync enables you to achieve <br /> something in your life.
      </p>
      <button
        class="bg-primary hover:bg-blue-600 text-white font-semibold py-3 px-4 rounded-xl mt-10 mb-10"
      >
        Download for Mac(Universal)
      </button>

      <br />

      <a href="#" class="underline">Alternative Downloads</a>
      <p class="text-gray-500 text-sm mt-5">By using SlideSync, you agree to its <br> license and privacy policy.</p>
    </div>

    <!-- Right div with images -->
    <div class="w-1/2 h-full relative">
      <img
        src="../../public/images/combo.png"
        alt=""
        class="pt-6 md:scale-125 md:transform md:translate-x-[7rem] scale-[2] translate-x-[11rem]">
        <div/>
    </div>
  </div>
</div>
