---
import "@fontsource-variable/open-sans";
import { Image } from "astro:assets";
import Logo from "../../public/slidesync.svg";
import Home from "../components/Home/Hero.astro";
import Steps from "../components/Home/Steps.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap"
    />
    <title>SlideSync</title>
  </head>
  <body>
    <Home />
    <Steps />
  </body>
</html>
