---
import '@fontsource-variable/open-sans'
import { Image } from 'astro:assets'
import Logo from '../../public/slidesync.svg'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div
      class="container flex flex-col items-center justify-center gap-8 p-8 min-h-[82vh]"
    >
      <Image src={Logo} alt="SlideSync Logo" width={200} />
      <h1 class="text-5xl text-center font-semibold">SlideSync</h1>
    </div>
  </body>
</html>
