---
import '@fontsource-variable/open-sans'
import { Image } from 'astro:assets'
import Logo from '../../public/slidesync.svg'
import Home from './Home.astro'

---

<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SlideSync</title>
  </head>
  <body>
      <Home/>
  </body>
</html>
