---
import Nav from "../Nav.astro";
---

<div class="flex flex-col">
  <Nav />

  <section
    class="w-full h-full py-12 relative md:flex md:flex-row overflow-hidden"
  >
    <!-- Left div with text -->
    <div class="w-full md:w-6/12 lg:8/12 px-8 sm:px-16">
      <p class="text-5xl font-bold mt-6">
        <span
          class="bg-gradient-primary inline-block text-transparent bg-clip-text"
          >Seamless Control</span
        > for <br /> Dynamic Presentations
      </p>
      <p class="text-gray-600 mt-8 text-xl">
        SlideSync enables you to achieve <br /> something in your life.
      </p>
      <button
        class="bg-primary hover:bg-primaryDark text-white font-semibold py-3 px-4 rounded-xl mt-10 mb-10"
      >
        Download for Mac(Universal)
      </button>

      <br />

      <a href="#" class="underline">Alternative Downloads</a>
      <p class="text-gray-500 text-sm mt-5">
        By using SlideSync, you agree to its <br /> license and privacy policy.
      </p>
    </div>

    <!-- Right div with images -->
    <div
      class="relative md:w-8/12 lg:w-7/12 mt-12 md:mt-0 md:transform md:translate-x-36"
    >
      <img
        src="../../public/images/combo.png"
        alt="NoImage"
        class="h-full w-full object-contain"
      />
    </div>
  </section>
</div>
