---

---

<div class='bg-[#0d5b91]'>
  <div
    style='background-image: url("/accent.svg"); background-size: cover; background-repeat: no-repeat; background-position: center center;'>
    <section class='app-container'>
      <div class='text-white flex flex-col gap-7 md:w-5/12'>
        <h2 class='text-4xl font-sora font-semibold'>Proudly Open Source</h2>
        <p class='font-light'>
          All source code behind SlideSync is available for free for anyone to
          verify, modify & contribute towards.
        </p>
        <a class='btn-white' href='#'>View Source on GitHub</a>
      </div>
    </section>
  </div>
</div>
