---

---

<div class='app-container text-center'>
  <h2
    class='font-sora text-5xl font-semibold bg-gradient-primary text-transparent bg-clip-text'>
    Simple. Secure. Effortless.
  </h2>
  <p class='pt-12 md:w-[60%] mx-auto'>
    SlideSync does not need bluetooth connection or a LAN connection between
    devices. Just an internet connection enables full functionality.
  </p>
</div>
