---
import { Image } from 'astro:assets'
import QRLogo from '../../public/qr.svg'
---

<div class={`flex flex-col items-start gap-12`}>
  <!-- Anchor tag -->
  <a href='#' class='text-lg'>DOCS</a>

  <a href='#' class='text-lg'>DOWNLOADS</a>
  <!-- Button -->
  <button
    id='btn'
    class='bg-primary hover:bg-primaryDark text-white font-semibold py-2 px-3 rounded-lg flex items-center open-mobile-client-btn'>
    Mobile Client <Image
      src={QRLogo}
      alt='SlideSync Logo'
      width={15}
      class={'m-1 fill-white'}
    />
  </button>
</div>

<script>
  const btn = document.getElementById('btn')
  btn?.addEventListener('click', () => {
    document
      .querySelector('#side-menu')
      ?.classList.add('transform', 'translate-x-full')
  })
</script>
